
body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4590db;
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    /*background-image: imageurl*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6,p {
    color: white;
}

.textCenter {
    text-align: center;
    color: white;
}
.Header {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Footer {

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CenterContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .CenterContainer .CenterContainer_label {
        color: white;
    }


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    color: grey;
    /*border: 1px solid #ccc;*/
    /*box-sizing: border-box;*/
}

button {
    background-color: white;
    color: grey;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /*width: 100%;*/
}

    button:hover {
        opacity: 0.8;
    }

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

    .close:hover {
        opacity: 1;
    }

    .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }

